<div class="row mt-3">
  <div class="col-md-10">
    <input
      [(ngModel)]="newTodo.title"
      id="todo"
      type="text"
      name="new-todo"
      class="form-control new-todo"
      aria-describedby="emailHelp"
      placeholder="New Task"
      (keyup.enter)="addTodo()"
      autofocus=""
      required
    >
  </div>
  <div class="col-md-2 text-right">
    <button (click)="addTodo()" type="button" [disabled]="newTodo.title === ''" class="btn btn-primary">Add task</button>
  </div>
</div>
